
<VirtualHost *:80>
  ServerName api.localhost 

  ProxyRequests Off
  ProxyPreserveHost On

  ProxyPass /api http://localhost:8088/test/
  ProxyPassReverse /api http://localhost:8088/test/
 

  <Proxy *>
    Require all granted
  </Proxy> 
</VirtualHost>


